
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color : transparent;
  -webkit-overflow-scrolling: touch;
  overflow-x:hidden;
  max-width: 100vw;
}


@font-face {
  font-family: "Montserrat"; 
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
  font-weight: 400;
  src:  
  url("./fonts/Montserrat-Regular.ttf") format("woff2"),
  url("./fonts/Montserrat-Regular.ttf") format("woff"),
  url("./fonts/Montserrat-Regular.ttf") format("truetype"),
  url("./fonts/Montserrat-Regular.ttf") format("embedded-opentype");
}

@font-face {
  font-family: 'Noto Sans';
  unicode-range: U+AC00-D7A3;
  font-weight: 400;
  src: 
  url("./fonts/NotoSansKR-Regular.otf") format("woff2"),
  url("./fonts/NotoSansKR-Regular.otf") format("woff"),
  url("./fonts/NotoSansKR-Regular.otf") format("truetype"),
  url("./fonts/NotoSansKR-Regular.otf") format("embedded-opentype");
}



* {
  font-family: Montserrat, Noto Sans, sans-serif; 
}


body img {
  image-rendering: -webkit-optimize-contrast;
}

body .Lowe5th_slider li {
  width: 2px;
  padding: 4px;
}

body .Lowe5th_slider .slick-dots {
  bottom: -40px;
}
body .Lowe5th_slider .slick-dots li button:before { 
 color: #ddd;
opacity: 1;
width: 10px;
font-size: 8px;
} 

body .Lowe5th_slider li.slick-active button:before { 
  color: #9c9c9c;
 opacity: 1;
 width: 10px;
 font-size: 8px;
} 

body .Mainpage_first_section .slick-dots {
  bottom: 50px;
}

body .Mainpage_first_section .slick-dots li button:before { 
  color: #9c9c9c;
 opacity: 1;
 line-height: 12px;
 width: 10px;
 font-size: 12px;
} 
body .Mainpage_first_section li.slick-active button:before { 
  color: #ddd;
 opacity: 1;
 width: 10px;
 font-size: 12px;
} 

@media screen and (max-width:  999px) {

body .Mainpage_first_section .slick-dots li button:before { 
  color: #9c9c9c;
 opacity: 1;
 line-height: 8px;
 width: 8px;
 font-size: 8px;
} 
body .Mainpage_first_section li.slick-active button:before { 
  color: #ddd;
 opacity: 1;
 width: 8px;
 font-size: 8px;
} 

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

