.designer_information {
    width: 270px;
    height: 500px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}
.designer_picture_div{
    width: 260px;
    height: 260px;

}
.designer_picture {
    width: 100%;
}

.designer_name_div {
    width: 260px;
    height: 60px;
    margin-top: 5px;
}

.designer_comment_div {
    width: 260px;
    height: 100px;
    word-break: keep-all;
}

.designer_reservation_div {
    width: 260px;
    height: 50px;
}