.Info_main {
    padding: 0 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.Info_top_sec {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    min-height: 400px;

}

.Info_bottom_sec{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}