.sec_section {
    float: right; 
    height: 330px;
    width: 46%;
    line-height: 330px;
}

@media screen and (max-width:  600px){
    .sec_section {
        margin-bottom: 10px;
        height: 330px;
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
        line-height: 330px;
    }
}
