.third_section {
    border: 3px double black;
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    text-align: center;
    overflow: auto;
}

@media screen and (max-width:  600px){
    .third_section {
        border: 3px double black;
        margin-bottom: 10px;
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
        overflow: auto;
    }
}