.Lowe5th_section {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: fit-content;
    margin-top: 4.427083vw;
    margin-bottom: -3px;
    text-align: center;
}

.Lowe5th_div{
    max-width: 428px;
    margin: auto;
    overflow: hidden;
}

.Lowe5th_section > div >img {
    width: 100%;
    margin-top: -4px;
    padding: 0;
}
.Lowe6th_firstsec_div {
    width: 100%;
    padding: 0;
    text-align: left;
    background-color: #333333;
    padding: 60px 20px;
}

.Lowe6th_firstsec_title {
    font: 700 38px "Noto Sans";
    color: #9C9C9C;
}

.Lowe6th_firstsec_title >span {
    color: #ffffff;
    text-decoration: underline;
    text-underline-position: under;
}

.Lowe6th_firstsec_sub {
    font: 400 16px "Noto Sans";
    color: #FFFFFF
}

.Lowe6th_firstsec_sub span {
    color: #9C9C9C;
}

.Lowe6th_firstsec_content_circle {
    padding: 3px 12px 5px 12px;
    background: #FFFFFF;
    border-radius: 20px;
    font: 700 16px "Noto Sans";
    text-align: center;
    margin-bottom: 20px;
    width: fit-content;
}

.Lowe6th_firstsec_content_text {
    font: 500 20px "Noto Sans";
    color: #FFFFFF;
}
.Lowe6th_firstsec_content_text li::marker {
    font-size: 14px;
    height: 30px;
}

.Lowe6th_firstsec_content_img img{
    width: 90%;
    max-width: 388px;
}

.Lowe6th_firstsec_content_address {
    font: 400 20px "Noto Sans";
    color: #FB6F20;
    text-decoration: underline;
    text-underline-position: under;
}

.Lowe5th_slider_div {
    width: 100%;
    margin-top: -4px;
    padding: 0;
    height: 150%;
    text-align: left;
    background-color: #F8F8F8;
}
.Lowe5th_second_div {
    max-width: 388px;
    width: 90%;
    margin-top: -4px;
    padding: 0;
    height: 150%;
    text-align: left;
    padding: 100px 20px 60px 20px;
}
.Lowe5th_slider_title {
    padding: 40px 20px 60px 20px;
}
.Lowe5th_second_title {
    font: 500 28px "Noto Sans"
}

.Lowe5th_slider_title_sub >span {
    padding: 0px 7px 0px 8px;
    background: #333333;
    border-radius: 4px;
    font: 700 13px "Montserrat";
    color: #ffffff;
    margin-right: 12px;
    float: left;
    line-height: 24px;
}

.Lowe5th_slider_title_sub {
    font: 700 22px "Noto Sans";
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 22px;
}
.Lowe5th_slider_title_main {
    font: 700 50px "Noto Sans";
    margin-bottom: 20px;
    line-height: 100%;
}

.Lowe5th_slider_title_loc {
    font: 500 18px "Noto Sans";
    line-height: 100%;
}

 .Lowe5th_slider{
     margin: auto;
     padding-bottom: 95px;
 }

 .Lowe5th_slider  img {
     width: 100%;
     border: 0px;
 }

 .Lowe5th_second_content {
     background-color: #F6F6F6;
     justify-content: space-between;
     display: flex;
     margin-bottom: 12px;
     width: 100%;
     max-width: 384px;
     border-radius: 8px;
 }

 .Lowe5th_second_content > div {
     padding: 20px 0 20px 24px;
 }

 .Lowe5th_second_content > img {
    padding: 20px 20px 20px 0px;
    width: 68px;
    height: 68px;
}

 .Lowe5th_second_content div {
     font: 500 20px "Noto Sans";
     margin: 3px 0;
 }

 .Lowe5th_free_div {

    width: 100%;
    margin-top: -4px;
    padding: 0;
    text-align: left;
    background-color: #F8F8F8;
    margin-top: -4px;
    padding: 100px 20px 137px 20px;
 }

 .Lowe5th_incentive_div {
    width: 100%;
    margin-top: -4px;
    padding: 0;
    text-align: left;
    margin-top: -4px;
    padding: 100px 20px 0px 20px;
 }

 .Lowe5th_incentive_content {
     margin-top: 14px;
     font: 500 18px "Noto Sans";
     margin-bottom: 60px;
 }


.Lowe5th_incentive_div img {
    width: 100%;
}

 .Lowe5th_free_title_sub {
     font: 700 20px "Noto Sans";
     line-height: 45px;
 }

 .Lowe5th_free_title_main {
    font: 500 30px "Noto Sans"
 }
.Lowe5th_free_div img {
    width: 90%;
    margin-top: 60px;
}
.Lowe5th_map_div {
    padding: 100px 20px 137px 20px;
    background-color: #F8F8F8;
    text-align: left;
    margin-top: -4px;
}

.Lowe5th_map_first {
    font: 700 30px "Noto Sans";
    margin-bottom: 20px;
}

.Lowe5th_map_second {
    font: 700 18px "Noto Sans";
    margin-bottom: 20px;
}

.Lowe5th_map_thrid {
    font: 700 16px "Noto Sans";
    margin-bottom: 20px;
    margin-top: 20px;
}

.Lowe5th_map_fourth {
    font: 700 18px "Noto Sans";
}

.Lowe5th_space_div {
    padding: 100px 20px 137px 20px;
    text-align: left;
    margin-top: -4px;
}

.Lowe5th_care_first {
    font: 500 30px "Noto Sans";
}
.Lowe5th_recommand_div {
    padding: 100px 20px 137px 20px;
    text-align: left;
    margin-top: -4px;
}


.Lowe6th_request_div {
    padding: 70px 20px 154px 20px;
    text-align: left;
    margin-top: -4px;
    background: #F8F8F8;
}

.Lowe6th_request_div_title{
    font: 700 24px "Noto Sans";
    text-align: center;
    margin-bottom: 20px;
}

.Lowe6th_request_div_content {
    justify-content: space-around;
    display: flex;
    line-height: 110px;
    width: 90%;
}

.Lowe6th_request_div_circle {
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border: 1px solid#FFFFFF;
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 16px;
    border-radius: 90px;
    color: #ffffff;
}

.Lowe5th_space_first {
    font: 700 16px "Noto Sans";
    margin-bottom: 8px;
}

.Lowe5th_space_second {
    font: 700 30px "Noto Sans";
    margin-bottom: 60px;
}

.Lowe5th_space_mainimg {
    width: 100%;
    margin-bottom: 10px;
}

.Lowe5th_space_subimg {
    width: 80px;
    height: 80px;
    margin-right: 8px;
}

.filter_subimg {

    width: 100%;
    overflow: auto;
    white-space:nowrap;
    height: 85px;
}

.darkmode {
    filter: brightness(60%);
}

.filter_subimg::-webkit-scrollbar {
    display:contents;
    height: 2px;
    width: 100%;
}

.filter_subimg::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; }
.filter_subimg::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px;}

.Lowe5th_space_text_div {
    margin-top: 80px;
}

.Lowe5th_space_text_div > div {
    font: 500 20px "Noto Sans";
    margin-bottom: 8px;
}


.Lowe5th_space_text_div .notice-list li { position: relative; padding-left: 20px; font: 500 20px "Noto Sans"; }
.Lowe5th_space_text_div .notice-list li + li { margin-top: 12px; }
.Lowe5th_space_text_div .notice-list li .num { position:absolute; top: 0; left: 0; font: 700 20px "Noto Sans";  }
.Lowe5th_space_text_div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Lowe5th_recommand_text_div {
    text-align: left;
}


.Lowe5th_recommand_text_div > div {
    font: 700 30px "Noto Sans";
    margin-bottom: 20px;
}

.Lowe5th_recommand_text_div .notice-list li { position: relative; padding-left: 25px; font: 500 20px "Noto Sans"; }
.Lowe5th_recommand_text_div .notice-list li + li { margin-top: 12px; }
.Lowe5th_recommand_text_div .notice-list li .num { position:absolute; top: 4px; left: 0; font: 500 19px "Montserrat";  }
.Lowe5th_recommand_text_div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.Lowe5th_movie_div {
    padding: 100px 20px 137px 20px;
    background-color: #F8F8F8;
    text-align: left;
    margin-top: -4px;
}

.Lowe5th_movie_text {
    font: 500 30px "Noto Sans";
}

.Lowe5th_movie_div_div {
    margin-top: 60px;
}

.Lowe5th_care_img_div {
    margin-top: 60px;
}
.Lowe5th_care_img_div img {
    width: 100%;
    margin-bottom: 12px;
}

.Lowe5th_promotion_div_title {
    font: 700 40px "Noto Sans"
}


.Lowe5th_promotion_div_content {
    font: 700 18px "Noto Sans";
    margin-top: 12px;
}

.Lowe5th_promotion_img img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 60px;
}

.Lowe5th_promotion_img div {
    font: 500 18px "Noto Sans";
}
.Lowe5th_banners_div {
    font:500 18px "Noto Sans";
    height: 70px;    
    line-height: 65px;
    background: #1A3BE7;
    color: #FFFFFF;

}

.Lowe5th_care_text {
    font: 400 18px "Noto Sans"
}
.Lowe6th_request_div_content_text{
    font: 400 17px "Noto Sans";
    text-align: center;
}



@media screen and (max-width:  1000px) {
    .Lowe5th_section {
        margin-top: 60px;
    }
    

}

@media screen and (max-width:  428px) {
    
 .Lowe5th_slider{
    padding-bottom: 22.196vw;
}


.Lowe5th_second_title {
    font: 500 6.542056vw "Noto Sans"
}


.Lowe5th_free_title_sub {
    font: 700 4.67289vw "Noto Sans";
    line-height: 10.5140vw;
}



.Lowe5th_second_content {
    background-color: #F6F6F6;
    justify-content: space-between;
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    max-width: 384px;
    border-radius: 8px;
}

.Lowe5th_second_content > div {
    padding: 4.67289vw 0 4.67289vw 5.6074766vw;
}

.Lowe5th_second_content > img {
   padding: 4.67289vw 4.67289vw 4.67289vw 0px;
   width: 15.88784vw;
   height: 15.88784vw;;
}

.Lowe5th_second_content > div > div {
    font: 500 4.67289vw "Noto Sans";
    height: 7.94392vw;
    margin: 0;
    line-height: 6.94392vw;
}


.Lowe5th_free_title_main {
   font: 500 7.00934vw "Noto Sans"
}
.Lowe5th_free_div {
   padding: 23.3644vw 4.672897vw 32.001vw 4.672897vw;
}



.Lowe5th_incentive_div {
    padding: 23.3644vw 4.672897vw 0vw 4.672897vw;
 }


 .Lowe5th_incentive_content {
    margin-top: 3.271vw;
    font: 500 4.205607vw "Noto Sans";
    margin-bottom: 14.01869vw;
}

.Lowe5th_map_div {
   padding: 23.3644vw 4.672897vw 32.001vw 4.672897vw;
}
    
.Lowe5th_map_first {
    font: 700 7.01vw "Noto Sans";
    margin-bottom: 4.672897vw;
}

.Lowe5th_map_second {
    font: 700 4.28vw "Noto Sans";
    margin-bottom: 4.672897vw;

}

.Lowe5th_map_thrid {
    font: 700 3.7383vw "Noto Sans";
    margin-bottom: 4.672897vw;
    margin-top: 4.672897vw;
}

.Lowe5th_map_fourth {
    font: 500 4.11vw "Noto Sans";
}
.Lowe5th_space_div {
    padding: 23.3644vw 4.672897vw 32.001vw 4.672897vw;
}


.Lowe5th_recommand_div {
    padding: 23.3644vw 4.672897vw 32.001vw 4.672897vw;
}


.Lowe5th_space_first {
    font: 700 3.7383vw "Noto Sans";
    margin-bottom: 1.869158vw;
}

.Lowe5th_space_second {
    font: 700 7.01vw "Noto Sans";
    margin-bottom: 14.01869158vw;
}

.Lowe5th_space_subimg {
    width: 18.6915vw;
    height: 18.6915vw;
    margin-right: 8px;
}

.filter_subimg {
    width: 100%;
    overflow: auto;
    white-space:nowrap;
    height: 20vw;
}

.Lowe5th_space_text_div {
    margin-top: 18.69158vw;
}


.Lowe5th_space_text_div .notice-list li { font: 500 4.67289vw "Noto Sans"; }
.Lowe5th_space_text_div .notice-list li + li { margin-top: 12px; }
.Lowe5th_space_text_div .notice-list li .num { position:absolute; top: 0; left: 0; font: 700 4.67289vw "Noto Sans";  }


.Lowe5th_recommand_text_div > div {
    font: 700 7.0093vw "Noto Sans";
    margin-bottom: 4.672897vw;
}

.Lowe5th_recommand_text_div .notice-list li { font: 500 4.67289vw "Noto Sans"; }
.Lowe5th_recommand_text_div .notice-list li + li { margin-top: 12px; }
.Lowe5th_recommand_text_div .notice-list li .num { position:absolute; font: 500 4.43925vw "Montserrat";  }
.Lowe5th_recommand_text_div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Lowe5th_space_text_div > div {
    font: 500 4.672897vw "Noto Sans";
    margin-bottom: 1.86915vw;
}
.Lowe5th_movie_div {
    padding: 23.3644vw 4.672897vw 32.001vw 4.672897vw;
}

.Lowe5th_movie_text {
    font: 500 7.01vw "Noto Sans";
}
.Lowe5th_movie_div_div {
    margin-top: 14.0186vw;
}


.Lowe6th_request_div {
    padding: 16.355140vw 4.672897vw 35.981308vw 4.672897vw;
}

.Lowe5th_request_div_title {
    font: 700 7.00934vw "Noto Sans";
    margin-bottom: 2.803738vw;
}

.Lowe5th_request_div_content {
    font: 500 4.205607vw "Noto Sans"
}
.Lowe5th_care_first {
    font-size: 7.00934vw;
}

.Lowe5th_promotion_div_title {
    font: 700 9.34579439252vw "Noto Sans"
}
.Lowe5th_promotion_div_content {
    font: 700 9.4.2056074vw "Noto Sans"
}

.Lowe5th_promotion_img div {
    font: 500 4.20560747664vw "Noto Sans";
}

.Lowe5th_care_text {
    font: 400 4.2056vw "Noto Sans"
}


.Lowe6th_request_div_title{
    font: 700 5.607476vw "Noto Sans";
}

.Lowe6th_request_div_circle {
    text-align: center;
    line-height: 23.36448598vw;
    width: 23.36448598vw;
    height: 23.36448598vw;
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 3.738317vw;
    border-radius: 90px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
}

.Lowe6th_request_div_content {
    line-height: 25.70093vw;
}

.Lowe5th_banners_div {
    font: 500 4.205607vw "Noto Sans";
    line-height: 65px;
}

}