.Mainpage_first_section {
    background-position: center;
    height: 100vh;
    width: 100% ;
    overflow: hidden;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333333;
}

.Second_Section_img_div {
    height: 33.33vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8.33333vw;
}

.Second_Section_img_div div{
    width: 29.1666vw;
}
.Mainpage_banner_div{
    position: relative;
    text-align: center;
    width: 100% ;
    height: 100vh;
}

.Mainpage_banner_text{
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 52px;
    font-family:  'Noto Sans';
    font-weight: bold;
    width: 100%;
}

.Mainpage_banner_button{
    margin: auto;
    margin-top: 32px;
    font: 700 26px "Noto Sans";
    padding: 19.5px 47px 19.5px 47px;
    width: fit-content;  
    background-color: #fff;
}

.Mainpage_banner_button > a {
    text-decoration: none;
}

.Mainpage_banner_box{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    text-align: center;

}
.Mainpage_banner_img{    
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh ;
}


.taskbar_div {
    position: absolute;
    top: 90%;
    left: 44%;
    border: 0;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 46%;
    opacity: 1;
}
#taskbar_group1{
    display: left;
    position: absolute;
    width: 31%;
}

#taskbar_group2{
    float: right;
    position: relative;
    width: 31%;
    margin-right: 3.3%;
}


#taskbar_group3{
    float: right;
    position: relative;
    width: 31%;
}
.taskbar_name{
    background-color: none;
    font: bold 18px "Noto Sans";
    color: #FFFFFF;
    margin-bottom: 10px;
}

#myProgress1 {
    display: left;
    position: flex;
    margin: 0;
    width: 100%;
    background-color:#CCCCCC;
}
 
#myBar1 {
    width: 100%;
    height: 2px;
    background-color:white;
}

#myProgress2 {
    float: left;
    position: flex;
    width: 100%;
    background-color:#CCCCCC;
}
#myBar2 {
    float: left;
    width: 100%;
    height: 2px;
    background-color:white;
}

#myProgress3 {
    float: right;
    position: flex;
    width: 100%;
    background-color:#CCCCCC;
}
#myBar3 {
    width: 100%;
    height: 2px;
    background-color:white;
}
.Mainpage_banner_video{
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh ;

}

.review_first_text {
    font-size: 24px;
    margin-bottom: 10px;
}

.review_second_text {
    font-size: 80px;
}


@media screen and (max-width:  999px) {
.Mainpage_first_section {
    background-position: center;
    height: 149.333vw;
    width: 100% ;
    overflow: hidden;
    margin: auto;
}

.Mainpage_banner_div{
    position: relative;
    text-align: center;
    width: 100% ;
    height: 149.333vw;
    overflow: hidden;
}

.Mainpage_banner_text{
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 9.6vw;
    font-family:  'Noto Sans';
    font-weight: 400;
    width: 100%;
}

.Mainpage_banner_button{
    margin: 0;
    margin-top: 8.533333vw;
    font: bold 4.26666vw "Noto Sans";
    padding: 3.2vw 10.4vw 3.2vw 10.4vw;
    width: fit-content;
    color: #333333;
}

a {
    text-decoration: none;
    color: #333333;
}

.Mainpage_banner_box{
    position: absolute;
    width: 75%;
    left: 45%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    text-align: left;

}
.Mainpage_banner_img{    
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.taskbar_div {
    position: absolute;
    top: 140.333vw;
    left: 58%;
    border: 0;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 66%;
    opacity: 1;
}
#taskbar_group1{
    display: left;
    position: absolute;
    height: 30px;
    width: 30%;
}

#taskbar_group2{
    float: right;
    position: flex;
    width: 30%;
    height: 30px;
    margin-right: 4.5%;
}
#taskbar_group3{
    float: right;
    position: flex;
    width: 30%;
    height: 30px;
}
.taskbar_name{
    display: none;
}

#myProgress1 {
    display: left;
    position: absolute;
    margin: 0;
    width: 100%;
    background-color:#CCCCCC;
}
 
#myBar1 {
    width: 100%;
    height: 2px;
    background-color:white;
}

#myProgress2 {
    float: right;
    position: flex;
    width: 100%;
    background-color:#CCCCCC;
}
#myBar2 {
    width: 100%;
    height: 2px;
    background-color:white;
}

#myProgress3 {
    float: right;
    position: flex;
    width: 100%;
    background-color:#CCCCCC;
}
#myBar3 {
    width: 100%;
    height: 2px;
    background-color:white;
}

.review_first_text {
    font-size: 4.53333vw;
    margin-bottom: 0;
}

.review_second_text {
    font-size: 10.6666vw;
}

}