.Mainpage_Request_section {
    width:100%;
    display: inline-block;
    z-index: -100;
}

.Mainpage_Request_section > div {
    width: 100%;
    background-image: url("./request.png");
    padding: 88px 0 150px 0;
    text-align: center;
    color: #333333;
}
.Mainpage_Request_section > div > img {
    margin-bottom: 40px;
}

#Mainpage_request_button {
    background-color: #333333;
    margin: 0 auto;
    width: 320px;
    font: bold 24px "Noto Sans";
    color: #FFFFFF;
    line-height: 56px;
    height: 60px;
}


@media screen and (max-width:  999px) {
    .Mainpage_Request_section {
        width:100%;
        display: inline-block;
        z-index: -100;
    }
    
    .Mainpage_Request_section > div {
        width: 100%;
        background-image: url("./M_request.png");
        padding: 10.6666vw 0 15.666vw 0;
        text-align: center;
        color: #333333;
    }

    .Mainpage_Request_section > div > img {
        margin-bottom: 20px;
    }

    .Mainpage_Request_section > div >div {
        line-height: 5.6vw;
    }
    
    #Mainpage_request_button {
        background-color: #333333;
        margin: 0 auto;
        width: 64vw;
        height: 12.26666vw;
        font: bold 3.7333vw "Noto Sans";
        color: #FFFFFF;
        line-height: 12.26666vw;
    }
}