header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  vertical-align: middle;
  text-align: center;
}

header > div {
  text-align: center;
  width: 62.5%;
  height: 4.16666666667vw;
  margin: 0 auto;
  align-content: center;
}


.add-background {
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
} 


.add-background > div > div > div > a {
  color: #333333;
  font: bold 0.9375vw "Noto Sans";
}

.add-background > div > div > div > div {
  color: #333333;
  font: bold 0.9375vw "Noto Sans";
}

.add-background > div > div > div > div > ul {
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  z-index: 4;
}

header > div > div > div > div > ul >li >p >a {
  color: #A5A5A5;
  font: bold 0.9375vw "Noto Sans";
}

header > div > div > div > div > ul >li >p >a:hover {
  color: #333333;
  font: bold 0.9375vw "Noto Sans";
  color: black;
}

#menu-review {
  color: #A5A5A5;
  font: bold 0.9375vw "Noto Sans";
  cursor: default;

}
.mouse_event{
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.mouse_event > p {
  color: #333333;
  font: bold 0.9375vw "Noto Sans";
}

.logo{
  position: absolute;
  left: 46%;
}
.logoView{
  padding: 1.250vw 0 1.25vw 0;
  width: 6.25vw;
}

.menu1 {
  float: left;
  padding-top: 1.5365vw;

}
.menu2 {
  float: right;
  padding-top: 1.5365vw;
}

.menu-item {
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  margin-right: 1.5625vw;
}

.menu-button {
  color: #FFFFFF;
  font: bold 0.9375vw "Noto Sans";
}

.menu-button:hover{
  color: black;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}


.menu-item ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;  
  background-color: #FFFFFF;;
}

.menu-button:hover > ul{
  display: block;
  border-top: 1px solid #DDDDDD;
  position: absolute;
  left: 0;
  width: 100vw;
  margin-top: 1.5365vw;
}


.menu-button:hover > ul >li {
  float: left;
  padding: 0 0 0 0;
}

  ul>li>p>a{
  text-decoration: none;
  color: white;
  }
  
  ul>li>a:hover{  
    color: rgba(0, 0, 0, 0.4)
  }
  
  ul>li>div{
  color: white
  }
  
  div > div > a {
  
    text-decoration: none;
  }

  div > span > a {
    width: 9.375vw;
    margin-left: 1.25vw;
    float: right;
    text-decoration: none;
    color: #A5A5A5;
  }

  div > span > a:hover {
    color: #333333;
  }

  div > span > a >img {
    width: 9.8vw
  }

  .menu_review_text{
    text-align: left;
    padding-top: 0.3vw;
    width: 9.8vw;
    height: 4.2vw;
  }

  .menu_review_text > div {
    font: bold 0.64708333vw "Noto Sans";
    width: 9.8vw;
  }
  

  @media screen and (max-width:  1000px) {
    header {
      position: fixed;
      width: 100vw;
      z-index: 3;
      height: 60px;
      top: 0;
      line-height: 60px;
      background-color: none;
      margin: 0;
      padding: 0;
    }
    .smooth {
      border: 0;
      margin: 0;
      padding: 0;
      background-color: none;
      vertical-align: baseline;
      z-index: 6;
  }


    header div:focus, header a:focus {
      color: #333333;
    }
    
    
    /* Header Hamburger  */
    :root {
      --primary-color: rgba(37, 37, 37, 0.75);
      --overlay-color: rgba(24, 39, 51 , 0.85);
      --menu-speed: 0.75s;
    }
    
    .add-background {
      background-color: #ffffff;
      border-bottom: 1px solid #DDDDDD;
    }
    
    .logo{
      position: fixed;
      left: 0;
      padding: 0;
      margin: auto;
    }
    .logoView{
      width: 90px;
      margin-top: 5px;
      margin-left: 25px;
      float: left;
      padding: 13.5px 0 13.5px 0;;
    }
    
    /* Menu */
    .menu-wrap {
        width: 60px;
        top: 0;
        left: 0;
    }
    
    .menu-wrap .toggler {
        position: absolute;
        float: right;
        z-index: 2;
        cursor: pointer;
        width: 40px;
        height: 40px;
        opacity: 0;
        right: 0;
        background: #FFFFFF;
    }
    
    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 35px;
        height: 35px;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
    }
    
    .menu-wrap .hamburger > div {
        position: relative;
        flex: none;
        height: 2px;
        width: 35px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    .add-background > .menu-wrap .hamburger > div,
    .add-background > .menu-wrap .hamburger > div::before,
    .add-background > .menu-wrap .hamburger > div::after {
      background: #333333;
      width: 35px;
    }
    
    /* Hamburger Lines - Top & Bottom */
      .menu-wrap .hamburger > div::before,
      .menu-wrap .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 35px;
        height: 2px;
        background: #FFFFFF;
    }
    
    /* Moves Line Down */
    .menu-wrap .hamburger > div::after {
        top: 10px;
    }
    
    /* Toggler Animation */
      .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
        background: #FFFFFF;
    }
    
    /* Turns Lines Into X */
      .menu-wrap .toggler:checked + .hamburger > div:before,
      .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
        background: #FFFFFF;
    }
    
    /* Rotate On Hover When Checked */
      .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
        background: #FFFFFF;
  
    }
    
    /* Show Menu */
      .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
      .menu-wrap .toggler:checked ~ .menu > div {
        animation-duration: 1.5s;
        
    }
    
      .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }
    
      .menu-wrap .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: fit-content;
        min-height: 100vh;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
        
      .menuAll {
        background: rgba(0, 0, 0, 0.7);
        width: 101vw;
        display: flex;
        flex: none;
        justify-content: right;
        height: fit-content;
        min-height: 100vh;
        transition: all 0.2s ease;
        right: 0;
        top:0;
        display: inline-block;
      }
    
    
    /* menuBar */
      .menu-wrap .menu > div > div {
        color: #FFFFFF;
        text-align: left;
        width: 300px;
        height: 100vh;
        overflow-y: scroll;
        float: right;
        top: 0;
        padding-bottom: 20px;
      }
    .menu
    /* MenuList (line-height: 150%) */
      .menuList {
        display: inline-block;
        right: 0;
        top:0;
        background-color: #FFFFFF;
        list-style: none;
        cursor: pointer;
        z-index: 5;
        height: fit-content;
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }
    .menuLisk_black {
      background-color: #333333;
      height: 190px;
      line-height: 100%;
      width: 100%;
    }
    /* MenuLocal (line-height: 130%) */
      .menuLocal {
        list-style: none;
        position: relative;
        z-index: 6;
    }
    
    
      .menuLocalItem {
        padding: 0;
    }
    
    .menuList >li {
      margin-top: 35px;
      font: bold 16px "Noto Sans";
      padding-left: 20px;

    }

    ul>li>a{
    text-decoration: none;
    color: #333333;
    }
    
    ul>li>a:hover{  
      color: rgba(0, 0, 0, 0.4)
    }
    
    ul>li>div{
    color: #333333
    }

    ul>li>div:focus{
      color: #333333;
    }
    
    div > div > a {
    
      text-decoration: none;
    }
    .nav_bottom > div {
      padding-top: 23px;
    }

    .nav_bottom > div > a, .nav_bottom > div > div{
      color: #333333;
      font-size: 16px;
      padding-left: 12px;
    }
    .nav_bottom > div > a {
      font-weight: 500;
    }

    .header_arrow {
      width: 16px;
      margin-left:8px; 
    }


  }