.timer_nav {
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 64px;
    text-align: center;
    bottom: 28px;
    margin: auto;
}

.timer_nav div {
    text-align: center;
    width: 100%;
    max-width: 388px;
   margin: 0 auto;
   height: 64px;
   background: #FB6F20;
}

.timer_nav a, .timer_nav a::after, .timer_nav a:hover  {
    font: 700 18px "Noto Sans";
    color: #FFFFFF;
}

.timer_nav label, .timer_nav label::after, .timer_nav label:hover  {
    font: 700 18px "Noto Sans";
    color: #FFFFFF;
    cursor: pointer;
}

.timer_nav input {
    display: none;
}



@media screen and (max-width:  429px) {

    .timer_nav div {
        width: 90%;
    }
    
}